@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --card: #ffffff;
    --card-foreground: #0f172a;
    --primary: #0284c7; /* primary-600 */
    --primary-foreground: #ffffff;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
